.st_inner-hero {
	position: relative;

	@include limbo-min {
		min-height: 45svh;
	}

	@include desk-min {
		min-height: 55svh;
	}

	.st_hero__container {
		@include flex-center;
		justify-content: center;
		text-align: center;

		@include limbo-min {
			min-height: 45svh;
		}

		@include desk-min {
			min-height: 55svh;
		}
	}

	.block_bg {
		&:after {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: #00000056;
		}
	}

	.st_inner-hero__content {
		padding-block: 8rem;
		width: 100%;
	}

	.b-title {
		align-items: center;
		color: var(--white);
		max-width: 1000px;
		margin: 0 auto;

		@include tab-max {
			gap: 1rem;
		}

		.b-title__main,
		.b-title__intro,
		.b-title__prefix {
			color: var(--white);
			font-weight: 700;
		}
	}
}
